{% extends 'base.html' %} 
{%block content%}
<div class="container" style="color: white;">
    <div class="row">
        <h1 style="text-align: center;">Available Blogs</h1><hr>
        {%for blog in blogs%}
        <div class=" col-md-4" style="text-align: center;">
            <!-- <div class="panel text-center" style="box-shadow: 0 4px 8px 0 rgba(15, 14, 14, 0.87);"> -->
            <!-- <div class="panel-head text-info"> -->
            <h3>{{blog.title}}</h3>
            <hr>
            <!-- </div> -->

            <!-- <div class="panel-body"> -->
            <p>{{blog.description}}</p>

            <p> <b>~ {{blog.user.username}} ~</b></p>
            <hr>

            <!-- <div class="panel-footer"> -->
            <p class="date text-muted">Posted on ~ {{blog.date.strftime('%Y-%m-%d')}}</p>
            <a href="{{url_for('main.view', id=blog.id)}}" class="btn btn-success">View</a>&nbsp;&nbsp;&nbsp;&nbsp; {% if blog.user == current_user%}
            <a href="{{url_for('main.delete', id=blog.id)}}" class="btn btn-danger">Delete</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{url_for('main.update_blog', id=blog.id)}}" class="btn btn-info">Edit</i></a> {% endif %}
        </div>
        {%endfor%}
    </div>
</div>

</div>
</div>

<style>
   
    body{
        background-color: #000719;
    } 
     
 </style>
{%endblock%}