{% extends 'base.html' %} 
{%block content%}
    
<div class="container" style="margin-top: 150px; margin-left: 10%;">
    <h2 style="font-size: 80px; font-family: 'Lobster', cursive;  padding-top: 40px; text-align: center; color: white;">
       Eat, Sleep and Blog</h2>
</div>

<style>
    body{
        background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/creative_room/v796-nunny-02_2.jpg?w=600&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=612213430826310e7ec45f5cab6c8b6c');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

{%endblock%}