<div class="navbar navbar-inverse" role="navigation" style="background-color: #101844; height: 70px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="margin-top: 10px; font-size:xx-large;"> <strong><span style="color: red;">Eat</span><span style="color: white;">Sleep</span><span style="color: green;">Blog</span></strong></a>
        </div>
        <div class="navbar-collapse collapse" style="margin-top: 10px;">
            <ul class="nav navbar-nav" style="margin-left: 200px;">
                <li><a href="{{url_for( 'main.home')}} "><strong>Random Quote</strong></a></li>
                <li class="nav-item"><a href="{{url_for('main.theblog')}}" class="nav-link"><span><strong>All Blogs</strong></span></a></li>
                <li><a href="{{url_for( 'main.blogs')}}" style="text-decoration: none; "><strong>Write New Blog</strong></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for( 'main.subscriber',uname=current_user.username)}} "><strong>Subscribe</strong></a></li>
                <li><a href="{{url_for('main.profile',uname=current_user.username)}}"><strong>Account</strong></a></li>
                <li><a href="{{url_for('auth.logout')}}"><strong>Sign out</strong></a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                {%endif%}
              </ul>           
        </div>

    </div>
</div>